*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.input{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.in{
    margin-bottom: 20px;
    padding: 10px;
}

input{
    width: 100%;
    height: 30px;
}

.box{
    width: 300px;
    background-color: cornflowerblue;
    border-radius: 10px;
}