*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.back{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-hobi{
    padding: 10px;
    margin-bottom: 10px;
}

.iya, form{
    background-color: grey;
    width: 300px;
    border-radius: 10px;
}

input{
    width: 100%;
    height: 25px;
    margin-top: 10px;
    border-radius: 10px;
}

select{
    margin-top: 10px;
}

.btn-1{
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 10px;
    border: none;
    background: green;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.padding{
    margin-bottom: 10px;
}

.back-1{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.garis{
    width: 100%;
    height: 5px;
    background: black;
    border-radius: 5px;
}